
.container-main {
    display: flex;
    justify-content: center;
}

.content {
    width: 50%;
}

.form {
    width: 20em;
    margin: auto;
    margin-top: 2em !important;
}

#MainContent_btnFiltrar, #MainContent_btnEmprestimo{
    width: 100%;
    margin-top: 1em;
}

#MainContent_txtResposta {
    cursor: pointer !important;
    text-align: center;
    color: red;
    font-size: 24px;
    margin: 2em 0em;
}

#txtObservacao {
    color: red;
    font-weight: bolder;
    margin: 2em 0em;
}
